@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Spin Cycle OT Regular';
    src: url('/font/SpinCycleOTRegular.otf') format('truetype'),;
  }
  
 .theme{
    font-family: 'Spin Cycle OT Regular';
 } 

*{padding: 0;
    margin: 0;
}

body{
    background-color:#151515;
}
.water-fill {
  animation: wave 0.7s infinite linear, 
             fill-up 10s infinite ease-out alternate;
}

@keyframes wave {
  0% { x: -400px; }
  100% { x: 0; }
}


@keyframes fill-up {
  0% {
    height: 0;
    y: 30px;
  }
  100% {
    height: 160px;
    y: -60px;
  }
}
.my-atropos {
    width: 70vw;
    height:30vh;
    background: transparent;
    position: relative;
  }
  @media screen and (max-width: 600px){
    .my-atropos {
      width: 100vw;
      height: 30vw;
    }
    
  }
  @layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}