@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Spin Cycle OT Regular';
    src: url('/font/SpinCycleOTRegular.otf') format('truetype'),;
  }
  
 .theme{
    font-family: 'Spin Cycle OT Regular';
 } 

*{padding: 0;
    margin: 0;
}

body{
    background-color:#151515;
}

.my-atropos {
    width: 60vw;
    height:30vh;
    background: transparent;
    position: relative;
    


  }