@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Spin Cycle OT Regular';
    src: url('/font/SpinCycleOTRegular.otf') format('truetype'),;
  }
  
 .theme{
    font-family: 'Spin Cycle OT Regular';
 } 

*{padding: 0;
    margin: 0;
}

body{
    background-color:#151515;
}
.water-fill {
  animation: wave 0.7s infinite linear, 
             fill-up 10s infinite ease-out alternate;
}

@keyframes wave {
  0% { x: -400px; }
  100% { x: 0; }
}


@keyframes fill-up {
  0% {
    height: 0;
    y: 30px;
  }
  100% {
    height: 160px;
    y: -60px;
  }
}
.my-atropos {
    width: 70vw;
    height:30vh;
    background: transparent;
    position: relative;
  }
  @media screen and (max-width: 600px){
    .my-atropos {
      width: 100vw;
      height: 30vw;
    }
    
  }
  @layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}
@keyframes scale {
    0% {
      transform: scale(0.9);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  

  
  .item {
    animation: scale 0.3s ease-in-out, blur 0.3s ease-in-out, fade 0.3s ease-in-out;
    transform-origin: center center;
  }@keyframes scaleUp {
    0% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
  
.slider {
    margin-bottom: 30px;
    position: relative;
  }
  .slider .owl-item.active.center .slider-card {
    transform: scale(1.4);
    margin-top: 45%;
    opacity: 1;
    color: #fff;
    filter: blur(0px);
    cursor: pointer;
  }
  .slider-card {
    
    padding: 0px 0px;
    margin: 50px 10px 50px 15px;
    cursor: disabled;
    transform: scale(1);
    filter: blur(3px);
    opacity: 0.5;
    transition: all 0.3s;
  }
  .slider-card img {
    border-radius: 5px 5px 0px 0px;
  }
  .owl-nav .owl-prev {
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;

  }
  .owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 25px);
    right: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
    filter: blur(5px);
  }
  
